@import "./variables";

.section_detail_item {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background: $color-ffffff;
  flex-wrap: wrap;
  align-items: center;
  .detail_item {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 32px;
    background: $color-ffffff;
    padding: 32px;
    flex-wrap: wrap;
    &_info {
      flex-shrink: 1;
    width: 30%;
      gap: 0 16px;
      &__conditions {
        margin-bottom: 16px;
        font-size: 14px;
      }

      &__title {
        font-size: 24px;
        padding-bottom: 32px;
      }

      &__price {
        font-size: 46px;
        padding-bottom: 32px;
      }
    }
    @media screen and (max-width: 540px){
      &_info {
        &__conditions{
          font-size: 12px;
        }
  
        &__title {
          font-size: 14px;
        }
  
        &__price {
          font-size: 24px;
        }
      }
    }
  }

  .description_item {
    padding: 32px;
    width: 70%;
    position: relative;

    &__title {
      font-size: 28px;
      padding-bottom: 32px;
    }

    &__text {
      font-size: 16px;
      color: $color-333333;
    }
    @media screen and (max-width: 540px){
      &__title {
        font-size: 20px;
      }
  
      &__text {
        font-size: 14px;
      }
    }
  }
}